In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.5'

In [3]:
df = pd.read_csv("yellow_tripdata_2021-01.csv",nrows=100)

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

### Convert some columns to appropriate format

In [8]:
cols = ["tpep_pickup_datetime", "tpep_dropoff_datetime"]
df[cols] = df[cols].apply(pd.to_datetime, errors='coerce')

### Get Schema

In [9]:
print(pd.io.sql.get_schema(df,name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

### Connect to Postgres

In [10]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [12]:
print(pd.io.sql.get_schema(df,name="yellow_taxi_data",con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

### Chunk and put data in database

In [43]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", parse_dates=cols, iterator=True,chunksize=100000)

In [18]:
df = next(df_iter)

#### Use the column names to create table

In [20]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [21]:
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists='replace')

#### Add first chunk of data

In [22]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 7.14 s, sys: 153 ms, total: 7.3 s
Wall time: 18.6 s

In [44]:
def add_data_to_db_in_chunks(df_iter):
    count = 0
    while True:
        df = next(df_iter)
        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
        print(f"inserted chunck {count}")
        count += 1

In [45]:
%%time

add_data_to_db_in_chunks(df_iter)

inserted chunck 0
inserted chunck 1
inserted chunck 2
inserted chunck 3
inserted chunck 4
inserted chunck 5
inserted chunck 6
inserted chunck 7
inserted chunck 8
inserted chunck 9
inserted chunck 10
inserted chunck 11

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/magics/execution.py:1327: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  out = eval(code, glob, local_ns)

inserted chunck 12
inserted chunck 13

StopIteration:

### Putting Data in Postgres

In [2]:
from sqlalchemy import create_engine

In [13]:
user = "root"
password = "root"
host = "localhost"
port = 5432
db = "ny_taxi"

In [6]:
engine = create_engine(f"postgresql://{user}:{password}@{host}:{port}/{db}")

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("taxi+_zone_lookup.csv")

In [11]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [12]:
print(pd.io.sql.get_schema(df,name="yellow_taxi_data",con=engine))

CREATE TABLE yellow_taxi_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [15]:
def create_table(df,engine,table_name):
    df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')

def ingest_data(df,engine,table_name):
    create_table(df,engine,table_name)
    df.to_sql(name=table_name, con=engine, if_exists='append')

In [16]:
ingest_data(df,engine,"zones")

In [17]:
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]